<h3 id="the-slayers-guild">The Slayers' Guild</h3>
<p>
	The Slayers' Guild is an organization responsible for managing a social caste known as "slayers" who are hired to
	kill monsters, criminals, and enemies of the state or retrieve objects from monsters and/or dungeons. All legitimate
	slayer jobs in Mensharra go through the Slayers' Guild and only those who are registered guild members may accept
	such work. While criminal slayers do exist, they are most often members of the Slayers' Guild
	who aren't picky about their employers.
</p>
<p>
	Due to the prominent economic position of slayers, the selection of which jobs are prioritized is a source of power,
	as is the ability to "deploy" slayers to cause/redirect problems. This position of power allows the Slayers' Guild
	to bully local businesses, and some nobles, into actions that benefit the Guild or its benefactors. The amount that
	the Slayers' Guild is able to get away with this is highly dependant on the Guild's relationship with local leaders.
</p>
<p>
	Within the Slayer's Guild there are several grades of slayer, based off of the usefulness of the material in weapons.
	The highest rank is adamantine, then is mithral, then steel, then iron, which is the grade most slayers will reach over 
	their careers, then bronze, copper, stone, and finally the starting rank of wood. There is also 2 honorable ranks,
	gold, which indicates that a person is a frequent bringer of jobs, and platinum, which only affiliated high ranking nobles and the
	headmaster of the Slayer's Guild hold.
</p>