<h1 id="caitlin-clarke">Caitlin Clarke</h1>
<p>
	Caitlin is a 5' 8" tall female human with neck length red hair, green eyes, DD cup titties, and a slightly thin, muscular build. She has a fire scar running from the bottom
	of her right cheek to the tip of her nose up to her forehead. Caitlin typically wears a green linen shirt with a matching linen skirt and silk scarf, a leather overtunic, 
	sturdy leather boots, wool gloves and a cloak. Her explorer's outfit was bought at Desserr Tailoring.
</p>
<p>
	Caitlin's combat kit is a +1 adamantine breastplate, a heavy shield, and a masterwork warhammer. She stores a silvered shortsword in a sheath in her shield for emergencies.
</p>
<p>
	Caitlin is a retainer of <ap-link-button linkName="noble-ivy-cooke">Countess Vonesti Hunitheplithym</ap-link-button>. 
</p>
<ap-auth-container permissions="gm desserr-full caitlin-class noble-full">
	<p>
		She is a 5th level warblade (ToB 20).
	</p>
</ap-auth-container>
