<h3>Count Dhuhrod The Grave</h3>
<p>
	Dhuhrod is a 5' 11" tall, gray skinned, male orc who wears his short, dark brown hair in spikes which are held up by
	clay. He prefers to wear deep purple clothes with a gold-copper alloy, with an unpleasant yellow-green color, weaved
	in. He has 3 outfits that have adamantine and/or mithral weaved in.
</p>
<p>
	Dhuhrod is the count of <ap-link-button linkName="noble-deaavh-hilluk">Deaavh Hilluk</ap-link-button>. He is planning
	on expanding mining and civilizing the wild orcs.
</p>
<p>
	Dhuhrod owns most of the smithies within Desserr as well as private iron mines to the west of Desserr, but he gets most of
	the metal that his smiths work from trade agreements with Gelna Lightfoot.
</p>