<h3 id="diha-raging-wolf">Countess Diha Raging Wolf</h3>
<p>
	Diha is a 5' 3" tall, female, tiger catfolk with orange fur with black stripes and a white chest.
	Her black hair is kept in an ass length ponytail and her build is athletic with large breasts and a surprising
	amount of muscled ass. She wears revealing, tight, black leather shirts and skirts/dresses with spider silk 
	"windows" that do little to hide her cleavage or her legs. She wears primarily platinum jewelry.
</p>
<p>
	Diha is the countess of <ap-link-button linkName="noble-rivers-pass">River's Pass</ap-link-button>. She is planning
	on civilizing the river region and setting up a few "private forts" for moving "product."
</p>
<p>
	Diha owns private farmland surrounding Desserr. 
</p>
<p>
	Has been put in contact with <ap-link-button linkName="noble-zigni">Zigni</ap-link-button>.
</p>
<ap-auth-container permissions="gm desserr-full diha-slaves noble-full nera">
	<p>
		Diha secretly trades in slaves, working with Brudorl Baenett.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full diha-skill-bonuses noble-full">
	<p>
		Perform (sex) +10, Knowledge (nobility) +8, Gather Information +12, 12 con
	</p>
</ap-auth-container>