<h3>Count Dissisris Searching Viper</h3>
<p>
	Dissisris is a 5' 10" tall, fat, male, panther catfolk with a short mohawk. He wears simple leather pants and a shirt
	with layers of fur and jewelry. He is normally the dirtiest of the nobles in Zesharr's court and is usually late
	to court.
</p>
<p>
	Dissisris is the count of <ap-link-button linkName="noble-cats-retreat">Cat's Retreat</ap-link-button>.
</p>
<p>
	Dissisris's private farms primarily produce higher quality vegetables, like onions, garlic, and leeks.
</p>
<ap-auth-container permissions="gm desserr-full dissisris-guard noble-full nera">
	<p>
		Has a psionic warrior guard.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full dissisris-dick-size noble-full nera">
	<p>
		Dissisris has a 5 inch dick.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full dissisris-skill-bonuses noble-full">
	<p>
		Knowledge (nobility) +10
	</p>
</ap-auth-container>