<h3>Countess Faye Brown</h3>
<p>
	Faye is a 5' 3" tall, female human with red hair, dark green eyes, beige skin and a stout, hourglass build. She wears most of her hair straight
	down to the back of her knees, but she keeps her bangs long enough to braid (with beads made from aquamarine) and have end just before her
	shoulders. She typically wears dresses made from silk damask weaves and velvet with only a little silver woven in, preferring the quality of the
	fabric be used to increase the value, rather than adding in metal. Unlike most of the nobles in Desserr, Faye wears high headdresses, which
	usually have the shape of a butterfly.
</p>
<p>
	Faye is the countess of <ap-link-button linkName="noble-forslag">Forslag</ap-link-button>. Her plan in is to strengthen the trade between Keldhall
	and Mam Daruhm, as well as setting up a lakeside fort to try and eliminate piracy on Crystal Lake.
</p>
<p>
	Faye owns land several lumber mills to the west of Desserr, along the river, but most of the lumber that she trades for a
	profit comes from Keldhall. She will also deal in elven livingwood or ironwood when she has the chance.
</p>
<ap-auth-container permissions="gm desserr-full lady-faye-nera-effects nera noble-full">
	<p>
		Hot and bothered by Nera.
	</p>
</ap-auth-container>