<h3>Countess Gelna Lightfoot</h3>
<p>
	Gelna is a 3' tall female halfling with light ruddy skin, salt and pepper hair that is kept in a bun and a tubby
	build for a halfling. She wears simple clothing for her position with one exception: the mithral and amber necklace
	she always wears to court.
</p>
<p>
	Gelna is the countess of <ap-link-button linkName="noble-little-river">Little River</ap-link-button>.
</p>
<p>
	Gelna's wealth and influence come from her ownership of several ships and 1/3 of the docks in Desserr.
</p>
<ap-auth-container permissions="gm desserr-full gelna-sex noble-full">
	<p>
		Gelna is a feminine herm.
	</p>
</ap-auth-container>