<h3>Baroness Jennla Ungart</h3>
<p>
	Jennla is a 4' tall, female dwarf with slate gray hair, a youthful complexion and a slim (for a dwarf) build.
	She doesn't wear the same dress twice, but wears the same jewelry every day. Her jewelry comprises of 6 golden
	rings with emeralds, sapphires and rubies, a silver necklace with a circle of diamonds hanging from it, an
	adamantine nose ring, 2 fire opal earings and a purple corundum earing.
</p>
<p>
	Jennla is the baroness of <ap-link-button linkName="noble-mam-daruhm">Mam Daruhm</ap-link-button>.
</p>
<p>
	Jennla gains her wealth from her family's connections and/or ownership of the banks and moneychangers of Desserr.
</p>
<ap-auth-container permissions="gm desserr-full jennla-rumors noble-full">
	<p>
		Spreading rumors of a masked catfolk taking Venra to the bed chambers by the ass.
	</p>
</ap-auth-container>