<h3 id="kaitlyn-evans">Kaitlyn Evans</h3>
<p>
    Kaitlyn Evans is a 4' 9" tall, female human with D cup melons, ruddy skin, blue eyes, and ass length
    blonde hair. She typically wears colorful cotton, wool, canvas, and hemp dresses along with simple
    jewelry made from wood, cornstalk, and iron. Her favorite is a necklace with a wooden carving of a
    rabbit. Kaitlyn is friendly and confident.
</p>
<p>
    She works as a tailor and leatherworker.
</p>
<ap-auth-container permissions="gm baytide-full red-king-cultists-baytide kaitlyn-changes noble-full nera">
    <p>
        Compared to the last time that Nera met her, Kaitlyn has become more confident and social. She also has
        somewhat of the aura of a leader.
    </p>
</ap-auth-container>
<ap-auth-container permissions="gm baytide-full red-king-cultists-baytide kaitlyn-red-lady-motivation noble-full">
    <p>
        Since giving birth to <ap-link-button linkName="noble-skrutenicencul">Skrutenicencul</ap-link-button>, Kaitlyn has become a 
        <ap-link-button linkName="noble-kaitlyn-evans">Red Princess</ap-link-button>.
    </p>
</ap-auth-container>
<ap-auth-container permissions="gm baytide-full red-king-cultists-baytide kaitlyn-red-lady-motivation noble-full">
    <p>
        Kaitlyn accepted becoming a <ap-link-button linkName="red-princess">Red Princess</ap-link-button> because it 
        was an easy way to earn acceptance and appreciation. That, and Brayden told her that it would make her
        more confident.
    </p>
</ap-auth-container>
