<h3 id="kishorra-running-lion">Countess Kishorra Running Lion</h3>
<p>
	Kishorra is a 5' 3" tall female lionfolk with short, spiked sandy yellow hair interwoven with darkwood totems, orange-yellow eyes, a flat chest, and a
	muscular build, for a catfolk. She typically wears a lacy, white poncho with silver and clear gemstones woven in and a short skirt made from a snow
	leopard. During winter and fall, she adds a dragonne hide coat that is lined with fleece.
</p>
<p>
	Kishorra is the countess of <ap-link-button linkName="noble-russia">Russia</ap-link-button>. She plans on building up a string of small villages and forming
	a trade route from the river to the sea, with a few small fortifications.
</p>
<p>
	Kishorra is the sister of Dame Dirharra Running Lion and the lady that rules over <ap-link-button linkName="noble-kane">Baron Kane Houghton</ap-link-button>.
</p>
<ap-auth-container permissions="gm desserr-full kishorra-dick noble-full">
	<p>
		Kishorra has an 8 inch long dick.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full kishorra-wants noble-full">
	<p>
		Trying to find a worthy mate to give her child. She carries an ornate collar with a magical rose quartz gem that
		casts 4th level fertility while that user wears the collar and has sex. Once the spell is expended the rose quartz
		is gone.
	</p>
</ap-auth-container>