<h3>Crypttender/Countess Lasryl Battlehammer</h3>
<p>
	Lasryl is a 4' tall female dwarf with thick, back length, gray hair braided around silver charms, brown eyes, C cup titties, and a thin build for a dwarf. She wears a set of
	black robes with a red monastic scapular and always carries a heavy mace with her. If preparing for battle, she wears a set of chainmail that has been painted black with a
	light steel shield displaying a blood red stag skull.
</p>
<p>
	Lasryl is a Crypttender of the Gravekeepers of Lindo and the Countess of <ap-link-button linkName="noble-lindado">Lindado</ap-link-button>. She is mostly planning on keeping
	the dead forest protected and undisturbed, but she would also like to make a town, or two, on the edge of the sea and at least one "bardic Lindo" town.
</p>
<ap-auth-container permissions="gm desserr-full lasryl-dick noble-full">
	<p>
		Lasryl has a 9 inch long dick.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full lasryl-land-wants noble-full">
	<p>
		Wants the Mount of Decay and the Dead Forest surrounding Asokmaot
	</p>
</ap-auth-container>