<h3>Lady Nimlyth Dathana</h3>
<p>
	Nimlyth is a 4' 8" tall elven woman with porcelain skin, dark brown hair that is kept in a ponytail over her left shoulder
	that reaches down to her belly button, light lavender eyes, B-cup titties, and a slender build, with just a touch of fat. She dresses in
	bright purples and deep greens with the occasional yellow or red. During the spring and summer, Nimlyth typically wears a
	silk bikini top, or vest, and a see through silk shawl, that has silver woven into it, with a long, flowing silk skirt. During winter and fall, she typically wears 
	a tight fitting silk shirt and pants combo with a tight fitting wool vest and an oversized bear hide hooded coat. When in public she always
	wears at least 10 pieces of mithral jewelry, with sapphires or emeralds embedded in it, the main piece of which is a thin mithral necklace
	with a piece of sapphire and a piece of emerald forming a ying-yang symbol.
</p>
<p>
	Nimlyth is Lady Reyrona Dathana's sister.
</p>
<ap-auth-container permissions="gm desserr-full nimlyth-land-wants noble-full">
	Reyrona wants Nimlyth ruling over the county that contains Antys. Nimlyth, like her sister, is a saleswoman and is primarily interested in the
	region for business reasons.
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full nimlyth-name-meaning noble-full">
	<p>
		Her name means Depths of Youth.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full nimlyth-dick-size noble-full">
	<p>
		Nimlyth is a feminine hermaphrodite. Her dick is 4 inches long.
	</p>
</ap-auth-container>