<h1 id="nyil-norretlarn">Count Nyil Norretlarn</h1>
<p>
	Nyil is a 4' 9" tall elven man with light yellowish skin, shoulder length blonde hair that is typically done as a ponytail in back with the bangs
	braided up front, blue eyes, and a thin build. Nyil almost always wears a red, wool fleece robe with a wide-brimmed leather hat, fox pelt scarf, 
	and, during fall and winter, a coat made from cheetah hides. Nyil wears 2 rose gold rings on each finger, except his thumbs. Each ring has a different
	stone set in it.
</p>
<p>
	Nyil is the count of <ap-link-button linkName="noble-nelluon-enial">Nelluon Enial</ap-link-button>.
</p>
<p>
	Nyil belongs to the Order of the Full Moon.
</p>
<ap-auth-container permissions="gm desserr-full nyil-name noble-full">
	<p>
		Nyil's chosen name means Diamond Gift and his house name means Sacred to Mysteries.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full nyil-land-wants noble-full">
	<p>
		Wants the dense southeastern forest (by Mirstone). He seeks to setup more elven enclaves.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full nyil-dick-size noble-full">
	<p>
		Nyil's dick is 7 inches long.
	</p>
</ap-auth-container>