<h3>Dame Rosie Rees</h3>
<p>
	Rosie is a 5' 6" tall, female human with short golden blonde hair, gray eyes, tanned skin, and a lithe build. Rosie typically
	wears pale yellow dresses with gray detailing, with electrum jewelry, to court. She has a fox pelt scarf that she loves to wear during
	colder weather and a cloak made from a brown bear.
</p>
<p>
	Rosie is a dame in the Order of the Full Moon. When in her combat garb, Rosie wears a sleeveless leather shirt with leather arm guards under a
	chainshirt with sturdy leather riding pants. She rides into battle on top of her prized dire wolf Blaze (named after his color and pattern)
	wielding a custom made, enchanted, livingwood composite longbow (Thunderstorm) or her cold iron, holy lance.
</p>
<ap-auth-container permissions="gm desserr-full dame-rosie-thunderstorm nera noble-full">
	<p>
		Thunderstorm was given to her by an elven wizard, Luhice, that she protected for 3 years. He had it made for her after she protected 
		him from a horde of 13 orcs and 2 worgs. 
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full dame-rosie-nera-effects nera noble-full">
	<p>
		Five trainings towards being submissive to other races and agreeing that humans must be controlled. Primarily Nera and the catfolk.
		Nera has fucked her. Convinced her to be Nera's subordinate.
	</p>
</ap-auth-container>