<h3>Lord Tossarr Burning Cloud</h3>
<p>
	Tossarr is a 5' tall, plump catfolk with fur patterns like those of a cheetah. He wears pants and a shirt that clearly
	mark him as male, yet his build and face can make determining his sex difficult. His hair is kept in a greased mullet.
	Tossarr is known as a capable hunter and his ownership of animal farms which provide meat, milk, and leather.
</p>
<p>
	Tossarr owns the land that Nera's farm/fortress is located on. Tossarr also owns the 
	<ap-link-button linkName="noble-sariel-revealing-painting-img">pornographic painting of Sariel and another elven woman</ap-link-button>.
</p>
<ap-auth-container permissions="gm desserr-full tossarr-knowledge noble-full">
	Tossarr has been told about Dolph and the dire bat involved in the scaled wolf quest.
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full tossarr-wants noble-full">
	<p>
		Tossarr does want to become a true man but doesn't have the money to pay for the magics involved to make such a 
		change permanent.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full tossarr-sex noble-full">
	<p>
		Tossarr is a feminine male.
	</p>
</ap-auth-container>