<h3>Countess Vonesti Hunitheplithym</h3>
<p>
	Vonesti is 5' 7" tall elf with shoulder length, brown hair, emerald eyes, pale skin, C cup titties, dark red lips, and a slender form.
	She normally wears a dark purple silk dress with platinum woven into it so finely that from a distance the whole dress appears to 
	sparkle, with 3 jeweled silver necklaces and several golden rings with rubies and emeralds inlaid into them. When she feels that she 
	might be threatened, Vonesti wears a bluish-purple mithral breastplate with decorative leather pauldrons and skirt, and matching silk 
	robes underneath.
</p>
<p>
	Vonesti is the countess of <ap-link-button linkName="noble-verth-di-lokipk">Verth Di Lokipk</ap-link-button>.
</p>
<ap-auth-container>
	Countess Vonesti Hunitheplithym is both <ap-link-button linkName="noble-ivy-cooke">Ivy Cooke's</ap-link-button> adoptive name and her
	disguise that she uses to rule over Verth Di Lokipk without suspicion.
</ap-auth-container>