<h3>Administrator Xalue Grifter</h3>
<p>
	Xalue is a 5' 6" tall, female half drow/orc with piercing red eyes, back length, silky black hair, grey skin with a slight green
	tint to it, and a build closer to that of a human than an elf. She wears black spider silk dresses with red and yellow
	highlights and the spider web of Underdark Breweries embroidered into them. She wears jewelry made from silver, mithral,
	and bone with rubies and fire opals set into it.
</p>
<p>
	Xalue is one of the two representatives of Underdark Breweries in Desserr. She is in charge of managing the local branch
	of Underdark Breweries and ensuring that all existing contracts are kept.
</p>
<ap-auth-container permissions="gm desserr-full xalue-dirty-business noble-full">
	<p>
		When contracted individuals fail/refuse to meet their contracts, Xalue will send some of the following: adventurers,
		slayers (payed under the table), assassins, mercenaries, street thugs, or economic terrorists at the problem. This can
		range from hunting down runaways to forcing taverns to pay up.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full xalue-lineage noble-full">
	<p>
		Xalue claims to be the child of a great warrior, her orcish mother, and a cunningly powerful businessman, her drow father.
		If pressed, Xalue will reveal that her father isn't just an influential businessman, but also a powerful wizard,
		and if she is pressed even harder, she will mention that he is Drust Grifter, the owner of Underdark Breweries
		and that Brudorl is actually her younger brother, but he was magically aged for reasons that she is unaware.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full xalue-times-fucked noble-full nera">
	<p>
		Nera has fucked Xalue once. Has 3 trainings.
	</p>
</ap-auth-container>
<ap-auth-container permissions="gm desserr-full xalue-skill-bonuses noble-full">
	<p>
		Sense motive +12, +10 Knowledge (local & nobility)
	</p>
</ap-auth-container>