<h1 id="enemies">Enemies</h1>
<ul>
    <li>
        <h2 id="animals">Animals</h2>
        <ul>
            <li><ap-link-button linkName="noble-alligator-snapping-turtle">Alligator Snapping Turtle</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="amofs">Amofs</h2>
        <ul>
            <li><ap-link-button linkName="noble-amof-race">Amofs</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="bandits-commoners">Bandits, Commoners, and the Like</h2>
        <ul>
            <li><ap-link-button linkName="noble-human-commoner">Human Commoner</ap-link-button></li>
            <li><ap-link-button linkName="noble-elf-fighter-2">Elf Fighter 2</ap-link-button></li>
            <li><ap-link-button linkName="noble-catfolk-adept">Catfolk Adept</ap-link-button></li>
            <li><ap-link-button linkName="noble-catfolk-barbarian">Catfolk Barbarian</ap-link-button></li>
            <li><ap-link-button linkName="noble-catfolk-ranger">Catfolk Ranger</ap-link-button></li>
            <li><ap-link-button linkName="noble-catfolk-sorcerer">Catfolk Sorcerer</ap-link-button></li>
            <li><ap-link-button linkName="noble-mutant-swindlespitter">Mutant Swindlespitter</ap-link-button></li>
            <ap-auth-container permissions="gm noble-gm-notes noble-full mutated-bandits">
                <li><ap-link-button linkName="noble-mutant-dire-wolf">Mutant Dire Wolf</ap-link-button></li>
                <li><ap-link-button linkName="noble-mutant-bandit-chief">Mutant Bandit Chief</ap-link-button></li>
            </ap-auth-container>
        </ul>
    </li>
    <li>
        <h2 id="dragonkin">Kobolds, Dragon Worshipers, and Dragonkin</h2>
        <ul>
            <li><ap-link-button linkName="3-5-kobold-heavy">Kobold Heavy</ap-link-button></li>
            <ap-auth-container permissions="gm noble-gm-notes noble-full mutated-kobolds nera elizabeth">
                <li><ap-link-button linkName="noble-mutated-kobold">Mutated Kobold</ap-link-button></li>
            </ap-auth-container>
            <ap-auth-container permissions="gm noble-gm-notes noble-full rathian">
                <li><ap-link-button linkName="noble-rathian">Rathian</ap-link-button></li>
            </ap-auth-container>
        </ul>
    </li>
    <li>
        <h2 id="lizardfolk">Lizardfolk</h2>
        <ul>
            <li><ap-link-button linkName="noble-lizardfolk-lieutenant">Lizardfolk Lieutenant</ap-link-button></li>
            <li><ap-link-button linkName="noble-lizardfolk-leader">Lizardfolk Leader</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="wild-elves">Wild Elves</h2>
        <ul>
            <li><ap-link-button linkName="wild-elf-warrior">Wild Elf Warrior</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="drow">Drow</h2>
        <ul>
            <li><ap-link-button linkName="urban-surface-drow">Urban Surface Drow</ap-link-button></li>
            <li><ap-link-button linkName="drow-cleric">Drow Cleric</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="gnolls">Gnolls</h2>
        <ul>
            <li><ap-link-button linkName="gnoll-warlord">Gnoll Warlord</ap-link-button></li>
            <li><ap-link-button linkName="gnoll-ambusher">Gnoll Ambusher</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="goblinoids">Goblins, Hobgoblins, and Other Goblinoids</h2>
        <ul>
            <li><ap-link-button linkName="goblin-lieutenant">Goblin Lieutenant</ap-link-button></li>
            <li><ap-link-button linkName="goblin-sergeant">Goblin Sergeant</ap-link-button></li>
            <li><ap-link-button linkName="noble-hobgoblin-lieutenant">Hobgoblin Lieutenant</ap-link-button></li>
            <li><ap-link-button linkName="noble-hobgoblin-sergeant">Hobgoblin Sergeant</ap-link-button></li>
            <li><ap-link-button linkName="noble-bugbear-lieutenant">Bugbear Lieutenant</ap-link-button></li>
            <li><ap-link-button linkName="noble-bugbear-sergeant">Bugbear Sergeant</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="orcs-and-giants">Orcs and Giants</h2>
        <ul>
            <li><ap-link-button linkName="noble-orc-lieutenant">Orc Lieutenant</ap-link-button></li>
            <li><ap-link-button linkName="noble-orc-sergeant">Orc Sergeant</ap-link-button></li>
            <li><ap-link-button linkName="noble-orc-captain">Orc Captain</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="undead">Undead</h2>
        <ul>
            <li><ap-link-button linkName="noble-vampire-wizard">Vampire Wizard</ap-link-button></li>
            <li><ap-link-button linkName="noble-adventurer-skeleton">Adventurer's Skeleton</ap-link-button></li>
            <li><ap-link-button linkName="noble-commoner-ghost">Commoner's Ghost</ap-link-button></li>
            <li><ap-link-button linkName="noble-elf-warrior-ghost">Elf Warrior's Ghost</ap-link-button></li>
            <li><ap-link-button linkName="noble-girallon-skeleton">Girallon Skeleton</ap-link-button></li>
            <ap-auth-container permissions="gm noble-gm-notes noble-full pseudo-reaper-stats">
                <li><ap-link-button linkName="noble-pseudo-reaper">Pseudo Reaper, Guardian of the River Cain</ap-link-button></li>
            </ap-auth-container>
        </ul>
    </li>
    <li>
        <h2 id="abberations">Aberrations</h2>
        <ul>
            <li><ap-link-button linkName="noble-aberration-dragon">Aberration Dragon</ap-link-button></li>
            <li><ap-link-button linkName="noble-cryptstalker">Cryptstalker</ap-link-button></li>
            <li><ap-link-button linkName="noble-skum-warrior">Skum Warrior</ap-link-button></li>
            <li><ap-link-button linkName="noble-skum-heavy-warrior">Skum Heavy Warrior</ap-link-button></li>
            <ap-auth-container permissions="gm unfinished-aberrations">
                
            </ap-auth-container>
        </ul>
    </li>
    <li>
        <h2 id="cultists">Cultists</h2>
        <ul>
            <li>
                <h3 id="cultists-red-king">Red King</h3>
                <ul>
                    <li><ap-link-button linkName="red-king-abductor">Red King Cult Abductor</ap-link-button></li>
                    <li><ap-link-button linkName="red-king-cultist">Red King Cultist</ap-link-button></li>
                    <li><ap-link-button linkName="red-king-cult-guard">Red King Cult Guard</ap-link-button></li>
                    <li><ap-link-button linkName="red-king-priest">Red King Cult Priest</ap-link-button></li>
                    <li><ap-link-button linkName="red-knight">Red Knight</ap-link-button></li>
                    <li><ap-link-button linkName="red-squire">Red Squire</ap-link-button></li>
                    <li><ap-link-button linkName="red-page">Red Page</ap-link-button></li>
                    <li><ap-link-button linkName="red-queen">Red Queen</ap-link-button></li>
                    <li><ap-link-button linkName="red-princess">Red Princess</ap-link-button></li>
                    <li><ap-link-button linkName="red-lady">Red Lady</ap-link-button></li>
                    <li><ap-link-button linkName="pophagite">Pophagite, Eater of Slain</ap-link-button></li>
                </ul>
            </li>
            <ap-auth-container permissions="gm noble-gm-notes noble-full followers-of-ulath-stats">
                <li>
                    <h3 id="cultists-ulath">Ulath</h3>
                    <ul>
                        <li><ap-link-button linkName="noble-ulath">Ulath, God of Reptiles and the Foul</ap-link-button></li>
                        <li><ap-link-button linkName="noble-revived-ulath">Ulath, the Revived God of Reptiles and the Foul</ap-link-button></li>
                        <li><ap-link-button linkName="noble-ulath-abductor">Ulath Abductor</ap-link-button></li>
                        <li><ap-link-button linkName="noble-ulath-guard">Ulath Guard</ap-link-button></li>
                        <li><ap-link-button linkName="noble-ulath-priest">Ulath Priest</ap-link-button></li>
                        <li><ap-link-button linkName="noble-ulath-worshiper">Ulath Worshiper</ap-link-button></li>
                        <li><ap-link-button linkName="noble-heavy-trog">Heavy Troglodyte</ap-link-button></li>
                    </ul>
                </li>
            </ap-auth-container>
            <li>
                <h3 id="cultists-mighty-doaug">The Mighty Doaug</h3>
                <ul>
                    <li><ap-link-button linkName="noble-doaug">The Mighty Doaug, Minor God of War and Honorable Combat</ap-link-button></li>
                </ul>
            </li>
            <ap-auth-container permissions="gm noble-gm-notes noble-full hamahakki">
                <li>
                    <h3 id="cultists-hamahakki">Hamahakki</h3>
                    <ul>
                        <li><ap-link-button linkName="noble-hamahakki">Hamahakki, Goddess of Venomous Spiders</ap-link-button></li>
                    </ul>
                </li>
            </ap-auth-container>
            <ap-auth-container permissions="gm noble-gm-notes noble-full cezvoc">
                <li>
                    <h3 id="cultists-cezvoc">Cezvoc</h3>
                    <ul>
                        <li><ap-link-button linkName="noble-cezvoc">Cezvoc, God of Monsters and Dark Magic</ap-link-button></li>
                        <li><ap-link-button linkName="noble-unworded-one">The Unworded One</ap-link-button></li>
                        <li><ap-link-button linkName="noble-joll-the-macabre">Joll the Macabre</ap-link-button></li>
                        <li><ap-link-button linkName="noble-melody-wells">Melody Wells, Champion of Cezvoc</ap-link-button></li>
                    </ul>
                </li>
            </ap-auth-container>
        </ul>
    </li>
    <ap-auth-container permissions="gm noble-gm-notes noble-full hands-of-kriotz-stats">
        <li>
            <h2 id="hands-of-kriotz">Hands of Kriotz</h2>
            <ul>
                <li><ap-link-button linkName="noble-kriotz-enforcer">Hands of Kriotz Enforcer</ap-link-button></li>
                <li><ap-link-button linkName="noble-kriotz-priest">Hands of Kriotz Priest</ap-link-button></li>
                <li><ap-link-button linkName="noble-kriotz-cleric">Hands of Kriotz Cleric</ap-link-button></li>
            </ul>
        </li>
    </ap-auth-container>
    <li>
        <h2 id="churches">The Churches</h2>
        <ul>
            <li><ap-link-button linkName="paladin">Paladin</ap-link-button></li>
            <li><ap-link-button linkName="ordained-cleric">Ordained Cleric of Durn</ap-link-button></li>
        </ul>
    </li>
    <ap-auth-container permissions="gm noble-gm-notes noble-full nen-stats">
        <li>
            <h2 id="nen">Nen</h2>
            <ul>
                <li><ap-link-button linkName="noble-nen-drone">Nen Drone</ap-link-button></li>
                <li><ap-link-button linkName="noble-nen-warrior">Nen Warrior</ap-link-button></li>
                <li><ap-link-button linkName="noble-nen-queen">Nen Queen</ap-link-button></li>
            </ul>
        </li>
    </ap-auth-container>
    <ap-auth-container permissions="gm noble-gm-notes noble-full future-enemy-stats">
        <li>
            <h2 id="future-enemies">Future Enemies</h2>
            <ul>
                <li><ap-link-button linkName="noble-bjork-2">Bjork 2</ap-link-button></li>
            </ul>
        </li>
    </ap-auth-container>
</ul>