<h1 id="enemies">Enemies</h1>
<ul>
    <li>
        <h2 id="animals">Animals</h2>
        <ul>
        </ul>
    </li>
    <li>
        <h2 id="amofs">Amofs</h2>
        <ul>
        </ul>
    </li>
    <li>
        <h2 id="bandits-commoners">Bandits, Commoners, and the Like</h2>
        <ul>
        </ul>
    </li>
    <li>
        <h2 id="dragonkin">Kobolds, Dragon Worshipers, and Dragonkin</h2>
        <ul>
            <ap-auth-container permissions="gm undesten-gm-notes undesten-full rathian">
                <li><ap-link-button linkName="noble-rathian">Rathian</ap-link-button> (update to pathfinder)</li>
            </ap-auth-container>
        </ul>
    </li>
    <li>
        <h2 id="lizardfolk">Lizardfolk</h2>
        <ul>
        </ul>
    </li>
    <li>
        <h2 id="wild-elves">Wild Elves</h2>
        <ul>
        </ul>
    </li>
    <li>
        <h2 id="underwater-humonoids">Merfolk, Gillmen and Underwater Humanoids</h2>
        <ul>
            <li><ap-link-button linkName="undesten-merfolk">Merfolk (CR 1/3)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-gillman">Gillman (CR 1/3)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-gillman-heavy">Gillman Heavy (CR 1)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-merfolk-sorcerer">Merfolk Sorcerer (CR 1)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-gillman-magus">Gillman Magus (CR 1)</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="drow">Drow</h2>
        <ul>
        </ul>
    </li>
    <li>
        <h2 id="gnolls">Gnolls</h2>
        <ul>
            <li><ap-link-button linkName="undesten-gnoll">Gnoll (CR 1)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-flind">Flind (CR 2)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-gnoll-sergeant">Gnoll Sergeant (CR 4)</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="goblinoids">Goblins, Hobgoblins, and Other Goblinoids</h2>
        <ul>
            <li><ap-link-button linkName="undesten-half-demon-hobgoblin">Half-Demon Hobgoblin (CR 3)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-hobgoblin">Hobgoblin (CR 1/2)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-goblin">Goblin (CR 1/3)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-bugbear">Bugbear (CR 2)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-worg">Worg (CR 2)</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="orcs-and-giants">Orcs and Giants</h2>
        <ul>
        </ul>
    </li>
    <li>
        <h2 id="sahuagin">Sahuagin</h2>
        <ul>
            <li><ap-link-button linkName="undesten-sahuagin">Sahuagin (CR 2)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-sahuagin-mutant">Sahuagin Mutant (CR 3)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-sahuagin-lord">Sahuagin Lord (CR 6)</ap-link-button></li>
        </ul>
    </li>
    <li>
        <h2 id="undead">Undead</h2>
        <ul>
        </ul>
    </li>
    <li>
        <h2 id="abberations">Aberrations</h2>
        <ul>
            <li><ap-link-button linkName="undesten-skum">Skum (CR 2)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-grick">Grick (CR 3)</ap-link-button></li>
            <ap-auth-container permissions="gm unfinished-aberrations">
                
            </ap-auth-container>
        </ul>
    </li>
    <li>
        <h2 id="cultists">Cultists</h2>
        <ul>
            <li><ap-link-button linkName="undesten-dwarf-cultist">Dwarf Cultist (CR 1/2)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-orc-cultist">Orc Cultist (CR 1/2)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-catfolk-cultist">Catfolk Cultist (CR 1)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-elf-cultist">Elf Cultist (CR 1)</ap-link-button></li>
            <li><ap-link-button linkName="undesten-kobold-cultist">Kobold Cultist (CR 1)</ap-link-button></li>
            <li>
                <h3 id="cultists-red-king">Red King</h3>
                <ul>
                </ul>
            </li>
            <li>
                <h3 id="cultists-iron-serpents">Iron Serpents</h3>
                <ul>
                </ul>
            </li>
            <li>
                <h3 id="cultists-mighty-doaug">The Mighty Doaug</h3>
                <ul>
                </ul>
            </li>
        </ul>
    </li>
    <ap-auth-container permissions="gm undesten-gm-notes undesten-full hands-of-kriotz-stats">
        <li>
            <h2 id="hands-of-kriotz">Hands of Kriotz</h2>
            <ul>
            </ul>
        </li>
    </ap-auth-container>
    <li>
        <h2 id="churches">The Churches</h2>
        <ul>
        </ul>
    </li>
    <ap-auth-container permissions="gm undesten-gm-notes undesten-full nen-stats">
        <li>
            <h2 id="nen">Nen</h2>
            <ul>
            </ul>
        </li>
    </ap-auth-container>
    <ap-auth-container permissions="gm undesten-gm-notes undesten-full future-enemy-stats">
        <li>
            <h2 id="future-enemies">Future Enemies</h2>
            <ul>
            </ul>
        </li>
    </ap-auth-container>
</ul>