<h1>Gnoll</h1>
<table class="statBlock" cellspacing="0">
	<tr>
		<th>Size/Type:</th>
		<td>Medium Humanoid (Gnoll)</td>
	</tr>
	<tr>
		<th>Hit Dice:</th>
		<td>2d8+2 (11 hp)</td>
	</tr>
	<tr>
		<th>Initiative:</th>
		<td>+0</td>
	</tr>
	<tr>
		<th>Speed:</th>
		<td>30 ft. (6 squares)</td>
	</tr>
	<tr>
		<th>Armor Class:</th>
		<td>15 (+1 natural, +2 leather armor, +2 heavy steel shield), touch 10, flat-footed 15</td>
	</tr>
	<tr>
		<th>Base Attack/Grapple:</th>
		<td>+1/+3</td>
	</tr>
	<tr>
		<th>Attack:</th>
		<td>Battleaxe +3 melee (1d8+2/&times;3) or shortbow +1 ranged (1d6/&times;3)</td>
	</tr>
	<tr>
		<th>Full Attack:</th>
		<td>Battleaxe +3 melee (1d8+2/&times;3) or shortbow +1 ranged (1d6/&times;3)</td>
	</tr>
	<tr>
		<th>Space/Reach:</th>
		<td>5 ft./5 ft.</td>
	</tr>
	<tr>
		<th>Special Attacks:</th>
		<td>—</td>
	</tr>
	<tr>
		<th>Special Qualities:</th>
		<td>Darkvision 60 ft.</td>
	</tr>
	<tr>
		<th>Saves:</th>
		<td>Fort +4, Ref +0, Will +0</td>
	</tr>
	<tr>
		<th>Abilities:</th>
		<td>Str 15, Dex 10, Con 13, Int 8, Wis 11, Cha 8</td>
	</tr>
	<tr>
		<th>Skills:</th>
		<td>Listen +2, Spot +3</td>
	</tr>
	<tr>
		<th>Feats:</th>
		<td>Power Attack</td>
	</tr>
	<tr>
		<th>Environment:</th>
		<td>Warm plains</td>
	</tr>
	<tr>
		<th>Organization:</th>
		<td>Solitary, pair, hunting party (2-5 and 1-2 hyenas), band (10-100 plus 50% noncombatants 
			plus 1 3rd-level sergeant per 20 adults and 1 leader of 4th-6th level and 5-8 hyenas), 
			or tribe (20-200 plus 1 3rd-level sergeant per 20 adults, 1 or 2 lieutenants of 4th or 
			5th level, 1 leader of 6th-8th level, and 7-12 hyenas; underground lairs also have 1-3
			trolls)
		</td>
	</tr>
	<tr>
		<th>Challenge Rating:</th>
		<td>1</td>
	</tr>
	<tr>
		<th>Languages:</th>
		<td>Common, infernal, draconic, goblin, orc, elven</td>
	</tr>
	<tr>
		<th>Treasure:</th>
		<td>Standard</td>
	</tr>
	<tr>
		<th>Alignment:</th>
		<td>Usually chaotic evil</td>
	</tr>
	<tr>
		<th>Advancement:</th>
		<td>By character class</td>
	</tr>	
	<tr>
		<th>Class Levels:</th>
		<td>Shadowcaster 3</td>
	</tr>
	<tr>
		<th>Experience:</th>
		<td>3,000 / 6,000</td>
	</tr>
	<tr>
		<th>Level Adjustment:</th>
		<td>+1</td>
	</tr>
</table>

<div class="table-container">
	<div class="table-column">
		<ap-skill-chart>
			[
				["Concentration", 6, ""],
				["Decipher Script", 6, ""],
				["Sense Motive", 6, ""],
				["Spellcraft", 6, ""],
				["Climb", 6, ""],
				["Knowledge (Geography)", 6, ""],
				["Diplomacy", 0, "+2 synergy"]
			]
		</ap-skill-chart>
	</div>
	<div class="table-column">
		<ap-enc-chart strength="14">
			[
				[3, 87, 22, 12],
				["Weapon", 1, [0, 10, 0, 0], 5.5],
				["Other Items", 5, [0, 0, 0, 1], 0.1],
				["Healing Potions", 2, [0, 50, 0, 0], 0.1],
				["Wand", 1, [100, 0, 25, 25], 0.5]
			]
		</ap-enc-chart>
	</div>
</div>

<h2>Description</h2>
<p>
	Gnolls are hyena-headed, evil humanoids that wander in loose tribes. Most gnolls have dirty yellow or reddish-brown fur. A gnoll is a nocturnal carnivore, preferring intelligent creatures for food because they scream more. A gnoll is about 7&frac12; feet tall and weighs 300 pounds. Gnolls speak Gnoll.
</p>

<h2>Combat</h2>
<p>
	Gnolls like to attack when they have the advantage of numbers, using horde tactics and their physical strength to overwhelm and knock down their opponents. They show little discipline when fighting unless they have a strong leader; at such times, they can maintain ranks and fight as a unit. While they do not usually prepare traps, they do use ambushes and try to attack from a <a href="/srd/combat/combatModifiers.htm#flanking">flanking</a> position. Because of its shield, a gnoll’s modifier on <a href="/srd/skills/hide.htm">Hide</a> checks (untrained) is -2, which means gnolls always take special care to seek favorable conditions when laying ambushes (such as darkness, <a href="/srd/combat/combatModifiers.htm#cover">cover</a>, or some other form of advantageous terrain).
</p>

<h2>History and Motivation</h2>
<p>
	
</p>