<h1>Mam Daruhm, Dwarven Fortress City</h1>

<h2 id="town-information">Town Information</h2>
<ap-basic-table character-table>
	[
		["Town Size:", "XXX"],
		["Population:", "Approximately XXX people"],
		["Gold Limit:", "XXX gp (XXX total)"],
		["Power Center(s):", 
			"Non-standard (<a href="#utruna-trollhide">Guard Captain</a><ap-auth-container permissions="gm mam-daruhm-full noble-full" inline>, CG</ap-auth-container>), ",
			"Magical (<a href="#bloodless-god">Zigies Sect</a><ap-auth-container permissions="gm mam-daruhm-full noble-full" inline>, LE</ap-auth-container>), ",
			"Conventional (<a href="#jennla-ungart">Baroness</a><ap-auth-container permissions="gm mam-daruhm-full noble-full" inline>, LN</ap-auth-container>), ",
			"Conventional (<a href="#gavam-runemace">Mayor</a><ap-auth-container permissions="gm mam-daruhm-full noble-full" inline>, LE</ap-auth-container>)"
		],
		["Guard Captain Power:", "Second highest level fighter"],
		["Guard Count:", "270 guards (94 evening shift, 81 day shift, 95 night shift), 1,350 militiamen"],
		["Demographics Type:", "Mixed"],
		["Political System:", "Monarchy"]
	]
</ap-basic-table>
<ap-auth-container permissions="gm TOWN-population COUNTYorDUCHY-full CAMPAIGN-full">
	<h2 id="population-breakdown">Population Breakdown</h2>
	<ap-population-table>
		[
			{"class":"Adepts", "1": 1},
			{"class":"Aristocrats", "1": 1},
			{"class":"Commoner", "1": 1},
			{"class":"Expert", "1": 1},
			{"class":"Warrior", "1": 1},
			{"class":"Barbarian", "1": 1},
			{"class":"Bard", "1": 1},
			{"class":"Cleric", "1": 1},
			{"class":"Druid", "1": 1},
			{"class":"Fighter", "1": 1},
			{"class":"Monk", "1": 1},
			{"class":"Paladin", "1": 1},
			{"class":"Ranger", "1": 1},
			{"class":"Rogue", "1": 1},
			{"class":"Sorcerer", "1": 1},
			{"class":"Wizard", "1": 1}
		]
	</ap-population-table>
</ap-auth-container>

<h2 id="organizations-and-monsters">Organizations and Monsters</h2>

<h2 id="important-people">Important People</h2>

<h2 id="notable-locations">Notable Locations</h2>
