p
{
    width: 80%;
    min-width: 300px;
    max-width: 750px;
}

.homebrew-list > li, .list > li 
{
    list-style-type: disc;
    width: 80%;
    min-width: 300px;
    max-width: 750px;
}

.homebrew-list > li > ul > li,
.list > li > ul > li
{
    list-style-type: circle;
    width: 80%;
    min-width: 300px;
    max-width: 750px;
}

table.spellbook-table
{
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.table-container 
{
    
}

.table-column
{
    display: inline-block;
    vertical-align: top;
}

ul.notes-books > li > span
{
    font-weight: bold;
    font-style: italic;
}

ul.notes-books > li > ul > li
{
    list-style-type: disc;
}

ap-link-button > a:link, ap-link-button > a:visited
{
    text-decoration: underline;
}

li > ap-link-button > a:link, li > ap-link-button > a:visited
{
    text-decoration: none;
}

.column
{
    flex: 1 1;
    vertical-align: top;
}

.column-container 
{
    display: flex;
}

#auth-info
{
    position: absolute;
    top: 5px;
    right: 0px;
}

.header-nav-list
{
    display: inline-block;
    
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.header-nav-list > li
{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: -4px;
    background-color: rgba(0, 0, 0, 0.25);
    /* background-color: #505050; */
}

.header-nav-list > li > ap-link-button > a
{
    display: inline-block;
    padding: 14px 16px;

    text-align: center;
    font-weight: bold;
    color: white;
}

.header-nav-list > li:hover
{
    background-color: #303030;
    color: white;
}

ap-image.character-picture
{
    float: right;
    margin-left: 5px;
}

.power {
    font-weight: bold;
}

ap-auth-container {
    font-style: italic;
}

.statBlock .headerRow {
	text-align: center;
	padding-top: 4px;
	border-bottom: 1px solid black;
	text-transform: uppercase;
}

ul.circle, ul.circle li {
    list-style-type: circle;
}