p
{
    width: 80%;
    min-width: 300px;
    max-width: 750px;
}

.homebrew-list > li 
{
    list-style-type: disc;
    width: 80%;
    min-width: 300px;
    max-width: 750px;
}

.homebrew-list > li > ul > li
{
    list-style-type: circle;
    width: 80%;
    min-width: 300px;
    max-width: 750px;
}

table.spellbook-table
{
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.table-container 
{
    
}

.table-column
{
    display: inline-block;
    vertical-align: top;
}

ul.notes-books > li > span
{
    font-weight: bold;
    font-style: italic;
}

ul.notes-books > li > ul > li
{
    list-style-type: disc;
}

ap-link-button > a:link, ap-link-button > a:visited
{
    text-decoration: underline;
}

li > ap-link-button > a:link, li > ap-link-button > a:visited
{
    text-decoration: none;
}